@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #fff;
} */


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #fff;
  }
} */

body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  
}

Button, Link, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
